@import '../base/variabes';
@import '../base/mixins';

.photo {
  position: relative;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;

  &__title {
    font-weight: $font-weight-semi-bold;
    padding-bottom: 1.6rem;
  }

  &__subtitle {
    font-weight: $font-weight-regular;
    font-size: 0.8em;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    justify-content: stretch;
    align-content: stretch;
  }

  &__item {
    position: relative;
    border-right: 1px solid #d8d8d8;
    padding-top: 100%;
  }

  &__placeholder,
  &__add {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
  }

  

  &__preview {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__add {
    display: inline-grid;
    align-content: center;

    &__icon,
    &__label {
      pointer-events: none;
    }

    // &__icon {}
    &__label {
      font-size: $font-size-xs;
    }
  }

  &__input {
    display: none;
  }

  &__modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;

    &__overlay {
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.8);
    }

    &__container {
      position: absolute;
      width: calc(100vw - 88px);
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      background-color: $white;
      border-radius: .4rem;
      padding-top: 3.2rem;
      padding-bottom: 1.6rem;
    }

    &__close {
      position: absolute;
      right: 0;
      top: 0;
      width: 3.2rem;
      height: 3.2rem;
      line-height: 3.2rem;
      text-align: center;
    }

    &__action {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      text-align: center;
      border-right: 1px solid #d8d8d8;

      &:last-child {
        border-right: none;
      }
    }

    &__label {
      position: relative;
      display: block;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }
  }
}