// Text Field
@import "../base/variabes";

.textfield {
  position: relative;
  width: 100%;
  padding-top: 1.6rem;
  // padding-bottom: 1.6rem;

  &__input {
    position: relative;
    display: block;
    width: 100%;
    padding: 8px 0;
    font-family: $ff-base;
    font-size: 1.4rem;
    line-height: 2.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent #d8d8d8 transparent;
    color: $gray-dark;
    outline: none;

    .textfield--has-error & {
      border-bottom-color: $brand-primary;
    }
  }
  &__label {
    position: absolute;
    top: 1.6rem;
    display: block;
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $gray;
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
  }

  &__input:focus ~ &__label,
  &__input:not(focus):valid ~ &__label {
    font-size: 1.2rem;
    color: $gray-light;
    transform: translateY(-2.4rem);
  }

  &__help-text {
    visibility: hidden;
    font-size: 1.2rem;
    color: $gray-light;
    .textfield--has-error & {
      visibility: visible;
      color: $brand-error;
    }
  }
}
